body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.landing-page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-and-title {
  display: flex;
  align-items: center;
}

.logo-and-title img {
  width: 50px; /* Adjust as needed */
  margin-right: 10px;
}

.contact-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content h2 {
  color: #333;
}

.content p {
  color: #666;
}